// Fonts
$font-primary: 'Changa', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// Colors
$color-gray: #5C6C81;
$color-dark: #46505D;
$color-light: #E5E5E5;
$color-light-1: #C5C5CA;
$color-light-2: #EDEDED;
$color-white: #fff;
$color-neon: #0FBCD3;
$color-pink: #FFC3D0;
$color-pink-1: #F9F4F4;
$color-pink-2: #FF7D9A;
$color-red-1: #FD0F25;

// Shoe colors (lebron 32)
$color-maroon: #844039;
$color-green: #1d5c2a;
$color-black: #000;
// Shoe colors (Dame 4)
$color-red: #d3312e;
$color-yellow: #e0f341;
$color-blue: #a4f1ff;
// Shoe colors (Jordan 3)
$color-yellow-1: #d5c330;
$color-orange: #8b453e;
$color-violet: #763d7f;

