// Fonts
$font-primary: 'Changa', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// Colos
$color-gray: #5C6C81;
$color-dark: #46505D;
$color-light: #E5E5E5;
$color-light-1: #C5C5CA;
$color-white: #fff;
$color-neon: #0FBCD3;
$color-pink: #FFC3D0;
$color-pink-1: #F9F4F4;
$color-red: #FD0F25;
