.contact {
    height: 39rem;
    position: relative;
    z-index: 9;

    @media (max-width: 61.86em) { // 990px
        height: 36rem;
    }

    @media (max-width: 43.75em) { // 700px
        height: 60rem;
    }

    &__form-wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -60%;
        display: flex;
        padding: 4rem 0;
        color: $color-dark;
        font-family: $font-secondary;
        width: 80%;
        margin: 0 auto;
        border-radius: 3px;
        box-shadow: 0px 1px 1.8rem rgba(0, 0, 0, 0.2);
        z-index: 999;

        & > * {
            flex: 1;
            padding: 0 10rem;

            @media (max-width: 69.38em) { // 1110px
                padding: 0 4rem;
            }
        }
  
        @media (max-width: 50em) { // 800px
            width: 100%;
        }

        @media (max-width: 43.75em) { // 700px
            flex-direction: column-reverse;
            bottom: -35%;
        }
    }

    &__form-box:nth-child(1) {
        @media (max-width: 43.75em) { // 700px
            margin-top: 3rem;
        }
    }

    &__heading {
        margin-bottom: 1.5rem;
    }

    &__input-group {
        margin-bottom: 1.5rem;

        label {
            font-weight: 500;
            font-size: 1.7rem;
        }

        input[type=text],
        textarea {
            width: 100%;
            border: none;
            background-color: $color-neon;
            font-family: inherit;
            color: $color-white;
            padding: .5rem 1rem;
            margin-top: .5rem;
            font-size: 1.7rem;
            font-weight: 300;
        }

        textarea {
            resize: none;
            height: 10rem;
        }

        input[type=text]::placeholder,
        textarea::placeholder {
            color: $color-light;
        }
    }

    &__btn-group {
        text-align: center;
    }

    &__btn {
        background-color: $color-neon;
        padding: 0 5rem;
        border-radius: 10rem;
        text-transform: uppercase;
        font-family: $font-primary;
        transition: background-color .2s;

        &:hover {
            background-color: darken($color-neon, 10%);
        }

        @media (max-width: 69.38em) { // 1110px
            display: block;
        }
    }

    &__details-group {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
    }

    &__icon {
        height: 3.5rem;
        width: auto;
        margin-right: 1.5rem;
    }

    &__label {
        font-weight: 500;
        font-size: 1.7rem;

        @media (max-width: 23.5em) { // 376px
            font-size: 1.4rem;
        }
    }
}