.hero-wrapper {
    display: flex;
    margin-bottom: auto;
    margin-top: 6rem;

    @media (max-width: 69.38em) { // 1110px
        margin-top: 8rem;
    }

    @media (max-width: 61.86em) { // 990px
        margin-top: 9rem;
    }

    @media (max-width: 56.25em) { // 900px
        margin-top: 13rem;
    }

    @media (max-width: 50em) { // 800px
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 4rem;
        text-align: center;
    }

    @media (max-width: 28.13em) { // 450px
        margin-top: 6rem;
    }

    @media (max-width: 22.94em) { // 367px
        margin-top: 9rem;
    }
}

.hero {
    text-transform: uppercase;
    flex: 1;

    &__heading {
        font-weight: 700;
        font-size: 10rem;
        font-size-adjust: 0.58;
        margin-top: 1.5rem;

        @media (max-width: 83.16em) { // 1330px
            font-size: 8rem;
        }

        @media (max-width: 69.38em) { // 1110px
            font-size: 6rem;
        }

        @media (max-width: 56.25em) { // 900px
            font-size: 5rem;
        }

        @media (max-width: 50em) { // 800px
            margin-top: 0;
        }

        @media (max-width: 28.13em) { // 450px
            font-size: 4rem;
        }
    }

    &__sub-heading {
        font-size: 3.25rem;
        font-weight: 500;
        color: $color-light-1;
        margin-top: -7rem;

        @media (max-width: 83.16em) { // 1330px
            font-size: 3rem;
            margin-top: -5rem;
        }

        @media (max-width: 69.38em) { // 1110px
            font-size: 2.5rem;
            margin-top: -4rem;
        }

        @media (max-width: 56.25em) { // 900px
            font-size: 2.25rem;
        }

        @media (max-width: 28.13em) { // 450px
            font-size: 2rem;
            margin-top: -3rem;
        }
    }

    &__btn {
        background-color: $color-neon;
        padding: .5rem 6rem;
        border-radius: 10rem;
        margin-top: .5rem;
        display: inline-block;
        transition: background-color .2s;

        &:hover {
            background-color: darken($color-neon, 10%);
        }

        @media (max-width: 28.13em) { // 450px
            font-size: 1.5rem;
        }

    }

    &__photo-box {
        height: 40rem;
        width: auto;
        flex: 1;

        @media (max-width: 69.38em) { // 1110px
            height: 35rem;
        }

        @media (max-width: 56.25em) { // 900px
            height: 30rem;
        }

        @media (max-width: 28.13em) { // 450px
            height: 27rem;
        }

        @media (max-width: 23.5em) { // 367px
            height: 20rem;
        }
    }

    &__photo {
        height: 100%;
        width: auto;
        display: block;
    }
}

// Nike
.nike {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;

    &__quote {
        color: $color-light-1;
        font-weight: 300;
        text-transform: uppercase;

        @media (max-width: 56.25em) { // 900px
            font-size: 1.5rem;
        }
    }

    &__justdoit {
        align-self: center;
        margin-bottom: 1rem;

        @media (max-width: 56.25em) { // 900px
            height: 1.3rem;
        }
    }

    &__logo {
        align-self: center;
        height: 4rem;
        width: auto;

        @media (max-width: 56.25em) { // 900px
            height: 3rem;
        }
    }
}