.new {
    background-color: #c4c4c9;
    position: relative;
    height: 100vh;

    @media (max-width: 56.25em) { // 900px
        height: 100%;
    }

    &__shoe-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90rem;
        height: auto;

        @media (max-width: 83.16em) { // 1330px
            width: 85rem;
        }

        @media (max-width: 69.38em) { // 1110px
            width: 70rem;
            top: 70%;
            transform: translate(-50%,-70%);
        }

        @media (max-width: 56.25em) { // 900px
            position: static;
            top: auto;
            left: auto;
            transform: translate(0%,0%);
            margin: 0 auto;
            width: 50rem;
        }

        @media (max-width: 34.38em) { // 550px
            width: 40rem;
        }

        @media (max-width: 28.13em) { // 450px
            width: 35rem;
        }

        @media (max-width: 23.5em) { // 376px
            width: 30rem;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 8rem;

        @media (max-width: 56.25em) { // 900px
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            text-align: center;
        }
    }

    &__header {
        width: 45rem;
        color: $color-dark;

        @media (max-width: 83.16em) { // 1330px
            width: 38rem;
        }

        @media (max-width: 56.25em) { // 900px
            width: 100%;
        }
    }

    &__heading {
        font-size: 6rem;
        text-transform: uppercase;
        font-weight: 700;

        @media (max-width: 69.38em) { // 1110px
            font-size: 5rem;
        }

        @media (max-width: 56.25em) { // 900px
            font-size: 3.5rem;
        }
    }

    &__description {
        font-family: $font-secondary;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.8;

        strong {
            @media (max-width: 56.25em) { // 900px
                display: block;
            }
        }
    }

    &__color-box {
        margin-top: 4rem;

        @media (max-width: 28.13em) { // 450px
            margin-top: 2rem;
        }
    }

    &__color-title {
        color: $color-dark;
        font-weight: 500;
        text-transform: uppercase;
        font-family: $font-secondary;
        text-align: center;
        margin-bottom: 1rem;

        @media (max-width: 69.38em) { // 1110px
            font-size: 1.3rem;
        }
    }

    &__color-wrapper {
        display: flex;
    }

    &__color {
        height: 5rem;
        width: 5rem;
        cursor: pointer;
        position: relative;
        z-index: 999;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        &--maroon {background-color: $color-maroon;}
        &--green {background-color: $color-green;}
        &--black {background-color: $color-black;}
        &--red {background-color: $color-red;}
        &--yellow {background-color: $color-yellow;}
        &--blue {background-color: $color-blue;}
        &--yellow-1 {background-color: $color-yellow-1;}
        &--orange {background-color: $color-orange;}
        &--violet {background-color: $color-violet;}

        
        @media (max-width: 69.38em) { // 1110px
            height: 3rem;
            width: 3rem;
        }

    }

    &__slideshow-box {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5rem;
        display: flex;
        justify-content: center;
    }

    &__slideshow {
        height: .5rem;
        width: 3rem;
        background-color: $color-white;
        border-radius: 10rem;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}

