.sale {
    text-align: center;

    &__heading {
        margin-bottom: -1.5rem;
    }

    &__box {
        margin-top: 4rem;

        @media (max-width: 61.86em) { // 990px
            position: relative;
        }
    }

    &__main-shoe-wrapper {
        position: relative;
    }

    &__main-shoe-box {
        display: none;
        height: 31.4rem;
        width: 50rem;
        margin: 0 auto;

        @media (max-width: 75.66em) { // 1210px
            margin: 0 auto 2rem auto;
        }

        @media (max-width: 56.25em) { // 900px
            width: 40rem;
            height: 24rem;
        }

        @media (max-width: 50em) { // 800px
           width: 35rem;
           height: 20rem;
        }

        @media (max-width: 28.13em) { // 450px
            width: 25rem;
            height: 15rem;
        }

        @media (max-width: 23.5em) { // 376px
            width: 22rem;
            height: 12rem;
        }
    }

    &__main-shoe-photo {
        display: block;
        width: 100%;
    }

    &__price-from {
        font-weight: 300;
    }

    &__price-np {
        text-decoration: line-through;
    }

    &__sizecart-box {
        display: flex;
        justify-content: center;
        margin-top: 3rem;

        & > * {
            background-color: $color-neon;
            text-transform: uppercase;
            padding: .5rem 3rem;

            @media (max-width: 23.5em) { // 376px
                padding: .5rem 1.25rem;
            }
        }
    }

    &__size-box {
        margin-right: 3rem;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        transition: background-color .5s;

        @media (max-width: 28.13em) { // 450px
            font-size: 1.5rem;
        }

        &:hover {
            background-color: darken($color-neon, 10%);
        }

        &:hover .sale__size-arrow {
            transform: rotate(90deg);

            @media (max-width: 43.75em) { // 700px
                transform: rotate(180deg);
            }
        }

        &:hover .sale__sizes-box-wrapper {
            display: block;
        }
    }

    &__size-arrow {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: .5rem;
        transition: all .2s;

        @media (max-width: 43.75em) { // 700px
            margin-right: 1rem;
        }
    }

    &__add-cart-box {
        cursor: pointer;
        transition: background-color .5s;

        @media (max-width: 28.13em) { // 450px
            font-size: 1.5rem;
        }

        &:hover {
            background-color: darken($color-neon, 10%);
        }
    }

    &__sizes-box-wrapper {
        display: none;
    }

    &__sizes-box {
        position: absolute;
        left: -30rem;
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(2, 15rem);

        @media (max-width: 61.86em) { // 990px
            grid-template-columns: repeat(1, 15rem);
            left: -15rem;
        }

        @media (max-width: 43.75em) { // 700px
            bottom: 4.5rem;
            left: 0;
        }
    }

    &__sizes-item {
        padding: .5rem;
        background-color: $color-neon;
        border-top: 1px solid $color-light;
        border-right: 1px solid $color-light;
        transition: background-color .5s;

        &:hover {
            background-color: darken($color-neon, 10%);
        }
    }

    &__shoe-wrapper {
        display: flex;
        position: relative;
        justify-content: space-between;

        & > * {
            background-color: $color-light;
            padding: .5rem 1rem;
        }

        @media (max-width: 61.86em) { // 990px
            display: none;
        }
    }

    &__shoe-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15rem;
        width: 23rem;
        margin-top: 5rem;
        cursor: pointer;
        transition: background-color .2s ease-in;

        img {
            display: block;
            height: 10rem;
            width: auto;
        }
    }

    &__btn {
        position: absolute;
        top: 10rem;
        cursor: pointer;
        border: none;
        background-color: transparent;
        z-index: 10000;

        &:focus {
            outline: none;
        }

        @media (max-width: 23.5em) { // 376px
            top: 5rem;
        }
    }

    &__prev-btn {
        left: -5rem;

        &--rwd {
            left: 0;
            display: block;

            @media (min-width: 61.86em) { // 990px
                display: none;
            }
        }
    }
    
    &__next-btn {
        right: -5rem;

        &--rwd {
            right: 0;
            display: block;

            @media (min-width: 61.86em) { // 990px
                display: none;
            }
        }
    }

}